<!-- MAIN CONTENT -->
<main class="main-content">
    <div class="page-header">
        <h1 class="page-title">Bienvenue</h1>
        <p class="page-subtitle">Gérez vos tâches efficacement avec TaskFlow</p>
    </div>

    <!-- STATS -->
    <div class="stats-grid" id="statsGrid">
        <div class="stat-card">
            <div class="stat-number" id="totalCount"> {{nbTasks()}} </div>
            <div class="stat-label">Total</div>
        </div>
        <div class="stat-card">
            <div class="stat-number" id="todayCount"> {{nbTodayTasks()}} </div>
            <div class="stat-label">Aujourd'hui</div>
        </div>
        <div class="stat-card">
            <div class="stat-number" id="completedCount"> {{nbCompletedTasks()}} </div>
            
            <div class="stat-label">Complétées</div>
        </div>
        <div class="stat-card">
            <div class="stat-number" id="pendingCount"> {{nbAwaited()}} </div>
            <div class="stat-label">En attente</div>
        </div>
    </div>

    <!-- INPUT FORM -->
    <app-add-task />

    <!-- TASKS LIST -->
    <app-show-tasks [todayTasks]="todayTasks()" [completedTasks]="tasksCompleted()" [tasks]="tasks()"  />
</main>